/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
-moz-linear-gradient(top, #ffffff 0%, #f4e6a8 100%),
-webkit-linear-gradient(top, #ffffff 0%, #f4e6a8 100%);
*/
.menu-wrapper {
  width: 20px;
  height: 11px;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 15px;
  height: 2px;
}

.hamburger-menu {
  position: relative;
  transform: translateY(5px);
  background: #222;
  transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  background: #222;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: #222;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

/* ======== HEADER ========= */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: #F7F4E6 url("../img/pastofinal.png");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
  -moz-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
  box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
  /* ====== LOGO ======= */
  /* ====== FIN LOGO ======= */
  /* ====== BOTON MENU ======= */
  /* ====== FIN BOTON MENU ======= */
}
header .contenedor-logo {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .logo {
  height: 3em;
  position: relative;
}
header .logo img {
  height: 100%;
  padding: 0;
  margin: 0;
}
header .logo img:nth-child(1) {
  position: absolute;
  z-index: 0;
}
header .logo img:nth-child(2) {
  position: absolute;
  z-index: 10;
  left: 1.8em;
}
header .texto-logo img {
  height: 0.5em;
}
header .menu-icon {
  font-size: 0.8rem;
  font-weight: bold;
  border: 0.05em solid rgba(100, 100, 100, 0.3);
  color: #222;
  display: flex;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(244, 230, 168, 0.7) 100%);
  padding: 1em;
  opacity: 0.9;
  border-radius: 0.3em;
  cursor: pointer;
}
header .menu-icon span {
  margin-right: 0.3em;
  cursor: pointer;
}

/* ======= Fin HEADER======= */
/* ======== BANNER ========= */
#banner {
  margin-top: 80px;
  padding: 3em 1em;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.85)), url("../img/kempes.jpg");
  background-size: cover;
  background-position: center;
}
#banner > div {
  max-width: 390px;
}
#banner .titulo {
  margin-bottom: 2.5em;
}
#banner .titulo img {
  width: 85%;
  display: inline-block;
}
#banner h1 {
  font-weight: bold;
  color: #F2361C;
  font-size: 1.6em;
  width: 5%;
  display: inline-block;
  position: relative;
  right: 9%;
  top: 0.65em;
}
#banner p {
  margin: 2.5em 1.8rem;
  font-size: 0.8em;
  line-height: 1.5em;
}
#banner p strong {
  font-weight: bold;
}
#banner .boton {
  font-weight: bold;
  padding: 1em 1.5em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(244, 230, 168, 0.7) 100%);
  display: inline-block;
  border-radius: 0.3em;
  cursor: pointer;
  border: 0.05em solid rgba(100, 100, 100, 0.3);
  margin: 0 1.8rem;
}
#banner .boton:hover {
  background: #f4e6a8;
}

/* ======== FIN BANNER ========= */
/* ======== SECCION INFO ========= */
#info {
  background-color: #3A3A3A;
  padding: 3em 1em;
}
#info > a {
  background: #fff;
  height: 70px;
  margin: 20px 0;
  border-radius: 0.3em;
  display: flex;
  text-decoration: none;
  color: #3A3A3A;
}
#info > a:nth-child(1) {
  border-left: 10px solid #FF3000;
}
#info > a:nth-child(2) {
  border-left: 10px solid #FFEA00;
}
#info > a:nth-child(3) {
  border-left: 10px solid #7DFF00;
}
#info img {
  height: 92%;
  margin: 3px 5px;
}
#info h2 {
  display: flex;
  font-weight: bold;
  color: #3A3A3A;
  width: 74%;
  background: #F7F4E6;
  text-align: right;
  border-radius: 0 0.3em 0.3em 0;
  font-size: 1.35em;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 15px 10px 0;
}
#info a > div {
  background: white;
  height: 100%;
  width: 25%;
  text-align: center;
}

/* ======== FIN SECCION INFO ========= */
/* ======== SECCION IMAGENES ========= */
#imagenes {
  padding: 3em 1em;
  background: linear-gradient(rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38)), url("../img/cancha.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#imagenes h1 {
  font-weight: bold;
  padding: 1em 1.5em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(244, 230, 168, 0.7) 100%);
  display: inline-block;
  border-radius: 0.3em;
  cursor: pointer;
  border: 0.05em solid rgba(100, 100, 100, 0.3);
  font-size: 22px;
  padding: 0.7em 1.5em;
}
#imagenes h1 span {
  text-align: right;
  font-size: 0.7em;
  font-weight: 400;
  display: block;
}
#imagenes > div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5em 0;
}
#imagenes > div:first-of-type i {
  font-weight: bold;
  padding: 1em 1.5em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(244, 230, 168, 0.7) 100%);
  display: inline-block;
  border-radius: 0.3em;
  cursor: pointer;
  border: 0.05em solid rgba(100, 100, 100, 0.3);
  padding: 1em 0.7em;
  cursor: pointer;
}
#imagenes > div > div {
  flex-grow: 1;
  margin: 0 1em;
}
#imagenes > div > div div img {
  width: 100%;
  padding: 0.8em;
  background: #F7F4E6;
}
#imagenes > div > div div img:first-child {
  margin-bottom: 0.5em;
}

/* ======== FIN SECCION IMAGENES ========= */
/* ======== FOOTER ========= */
footer {
  padding: 3em 1em;
  background: #000111;
}
footer h1 {
  font-size: 22px;
  letter-spacing: 0.2em;
  color: #4B4B4C;
  display: block;
  text-align: center;
}
footer form {
  margin: 1.9em 2em;
  font-size: 22px;
}
footer form input,
footer form textarea {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background: #4B4B4C;
  color: #B7B7B7;
  border: none;
  border-radius: 0.3em;
  font-size: 0.6em;
  padding: 0.8em;
  margin: 1.5em 0;
}
footer form input[type=submit] {
  background: #F2361C;
  color: #fff;
}

/* ======== FIN FOOTER ========= */

/*# sourceMappingURL=style.css.map */
