/* @TODO (cosas que faltan hacer)
- agregar transicion al hacer hover de los elementos del nav
- terminar nav version movil y tablet
- ajustar todo a REM y EM 
- comprimir imagenes que faltan
- borrar lo que sobra del media query mq(XL)
- poner logo en esquina de imagenes
- cambiar link footer (ghipsio) a pagina de facebook a crear
- controlar que anden todos los links
- terminar bien slideshow imagenes
- scroll al hacer click elementos nav
- en banner hacer fuente kempes soccer y poner titulo como h1
- optimizar scss sacando ids y menos nesting (usar BEM)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes animacionPelota {
  0% {
    left: -100;
  }
  100% {
    left: 100%;
    transform: rotate(2000deg);
  }
}
@font-face {
  font-family: kempes;
  src: url(../../fonts/kempes.ttf);
}
/*
-moz-linear-gradient(top, #ffffff 0%, #f4e6a8 100%),
-webkit-linear-gradient(top, #ffffff 0%, #f4e6a8 100%);
*/
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 0.9rem;
}

input,
textarea {
  font-size: 0.8rem;
}

.menu-wrapper {
  width: 20px;
  height: 11px;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 15px;
  height: 2px;
}

.hamburger-menu {
  position: relative;
  transform: translateY(5px);
  background: #222;
  transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  background: #222;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: #222;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* ======== ESTILOS GENERALES ========= */
body {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* ======== FIN STILOS GENERALES ========= */
/* ======== HEADER ========= */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
  padding: 10px 15px;
  background: #F7F4E6;
  -webkit-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
  -moz-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
  box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
  /* ====== LOGO ======= */
  /* ====== FIN LOGO ======= */
  /* ====== BOTON MENU ======= */
  /* ====== FIN BOTON MENU ======= */
}
header .fondo-header {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 11;
}
header .pelota-header {
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 8;
  left: -100%;
  animation: animacionPelota infinite;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container > img {
  display: none;
}
header .contenedor-logo {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 12;
}
header .logo {
  height: 3em;
  position: relative;
  z-index: 13;
}
header .logo img {
  height: 100%;
  padding: 0;
  margin: 0;
}
header .logo img:nth-child(1) {
  position: absolute;
  z-index: 0;
}
header .logo img:nth-child(2) {
  position: absolute;
  z-index: 13;
  left: 1.8em;
}
header .texto-logo img {
  height: 0.5em;
}
header .menu-icon {
  font-size: 0.8rem;
  font-weight: bold;
  border: 0.05em solid rgba(100, 100, 100, 0.3);
  color: #222;
  display: flex;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, #f4e6a8 100%);
  padding: 1em;
  opacity: 0.9;
  border-radius: 0.3em;
  z-index: 12;
  cursor: pointer;
}
header .menu-icon span {
  margin-right: 0.3em;
  cursor: pointer;
}

/* ======= Fin HEADER======= */
/* ======= NAV ======= */
nav {
  z-index: 20;
  display: none;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 100%;
  font-size: 16px;
}
nav ul {
  margin: 0 auto;
  max-width: 800px;
  font-weight: bold;
  padding: 1rem 1.5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, #f4e6a8 100%);
  display: inline-block;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 0.05rem solid rgba(100, 100, 100, 0.3);
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
nav ul:hover {
  background: linear-gradient(to bottom, white 0%, rgba(244, 230, 168, 0.7) 100%);
  transition: all 1s ease-in-out;
}
nav ul li {
  font-size: 1em;
  display: flex;
  text-align: center;
  width: 191px;
  display: flex;
}
nav ul li a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
}
nav ul li:hover {
  margin-bottom: -5px;
  border-bottom: 5px solid #FF3000;
  transition: border-bottom 0.1s ease-in-out;
}
nav ul li .nav-element::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  background: gray;
  height: 15px;
  width: 1px;
}
nav a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

/* ======= Fin NAV======= */
/* ======== BANNER ========= */
#banner {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.85)), url("../img/kempes.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}
#banner img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  object-fit: cover;
  z-index: 8;
  display: none;
}
#banner > div:first-child {
  background: white;
  position: absolute;
  left: 12%;
  top: 0;
  bottom: 0;
  height: 150%;
  width: 50%;
  border-radius: 0 50% 50% 0;
  z-index: 9;
  display: none;
}
#banner .container {
  max-width: 390px;
  z-index: 10;
}
#banner .titulo {
  margin-bottom: 2.5em;
  width: 80%;
}
#banner .titulo img {
  width: 85%;
  display: inline-block;
}
#banner h1 {
  font-family: kempes, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: black;
  position: relative;
  letter-spacing: 4.5px;
}
#banner h2 {
  font-weight: bold;
  color: #F2361C;
  font-size: 1.8rem;
  display: block;
  text-align: right;
  position: relative;
  top: -0.4em;
}
#banner p {
  margin: 2.5rem 1.8rem;
  font-size: 0.9rem;
  line-height: 1.75;
}
#banner p strong {
  font-weight: bold;
}
#banner .boton {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, #f4e6a8 100%);
  display: inline-block;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 0.05rem solid rgba(100, 100, 100, 0.3);
  margin: 0 1.8rem;
}
#banner .boton:hover {
  background: #f4e6a8;
}

/* ======== FIN BANNER ========= */
/* ======== SECCION INFO ========= */
#info {
  background-color: #3A3A3A;
  padding: 3em 1em;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
#info .container > a {
  background: #fff;
  height: 70px;
  margin: 20px 0;
  border-radius: 0.3em;
  display: flex;
  text-decoration: none;
  color: #3A3A3A;
  z-index: 9;
}
#info .container > a:nth-child(1) {
  border-left: 10px solid #FF3000;
}
#info .container > a:nth-child(2) {
  border-left: 10px solid #FFEA00;
}
#info .container > a:nth-child(3) {
  border-left: 10px solid #7DFF00;
}
#info .container img {
  height: 92%;
  margin: 3px 5px;
}
#info .container h2 {
  display: flex;
  font-weight: bold;
  color: #3A3A3A;
  width: 74%;
  background: #F7F4E6;
  text-align: right;
  border-radius: 0 0.3em 0.3em 0;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 15px 10px 0;
}
#info .container a > div {
  background: white;
  height: 100%;
  width: 25%;
  text-align: center;
}
#info > img {
  display: none;
}

/* ======== FIN SECCION INFO ========= */
/* ======== SECCION IMAGENES ========= */
#imagenes {
  padding: 3em 1em;
  background: linear-gradient(rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38)), url("../img/cancha.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#imagenes h2 {
  font-weight: bold;
  padding: 1rem 1.5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, #f4e6a8 100%);
  display: inline-block;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 0.05rem solid rgba(100, 100, 100, 0.3);
  padding: 0.7em 1.5em;
  cursor: default;
}
#imagenes h2 span {
  text-align: right;
  font-size: 0.7em;
  font-weight: 400;
  display: block;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5em 0;
}
.carousel button {
  font-weight: bold;
  padding: 1rem 1.5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, #f4e6a8 100%);
  display: inline-block;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 0.05rem solid rgba(100, 100, 100, 0.3);
  padding: 1em 0.7em;
  cursor: pointer;
}
.carousel__track-container {
  flex-grow: 1;
  margin: 0 1em;
}
.carousel__track {
  position: relative;
}
.carousel .show-slide {
  display: block;
}
.carousel .is-hidden {
  visibility: hidden;
}
.carousel__slide {
  text-align: center;
  position: relative;
  display: none;
}
.carousel__slide img {
  width: 100%;
  max-width: 400px;
  padding: 0.8em;
  background: #F7F4E6;
}
.carousel__slide img:first-child {
  margin-bottom: 0.5em;
}

/* ======== FIN SECCION IMAGENES ========= */
/* ======== SECCION CONTACTO ========= */
#contacto {
  padding: 3em 1em;
  background: #000111;
}
#contacto h1 {
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  color: #4B4B4C;
  display: block;
  text-align: center;
}
#contacto form {
  margin: 3.8rem 2rem 0 2rem;
}
#contacto form input,
#contacto form textarea {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background: #4B4B4C;
  color: #B7B7B7;
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem;
  margin: 1.3rem 0;
}
#contacto form input::placeholder,
#contacto form textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B7B7B7;
}
#contacto form textarea:-ms-input-placeholder,
#contacto form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #B7B7B7;
}
#contacto form textarea::-ms-input-placeholder,
#contacto form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #B7B7B7;
}
#contacto form input[type=submit] {
  background: #F2361C;
  color: #fff;
  cursor: pointer;
}

/* ======== FIN SECCION CONTACTO ========= */
/* ======== INICIO FOOTER ========= */
footer {
  background: #000111;
  color: #fff;
  text-align: left;
  text-align: center;
}
footer .info-contacto-footer {
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  padding: 1em 15px;
}
footer .info-contacto-footer a {
  font-size: 0.85em;
  font-weight: 500;
  margin: 0.3em 0;
  display: flex;
  align-items: center;
}
footer .info-contacto-footer a:first-child {
  margin-right: 1em;
}
footer .info-contacto-footer i {
  font-size: 1.9em;
}
footer .info-contacto-footer span {
  margin-left: 0.7em;
  font-size: 0.7em;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .copyright {
  display: block;
  font-size: 0.8em;
  border-top: 1.5px solid #4B4B4C;
  padding: 1.5em;
  margin: 0 1em;
  line-height: 1.5em;
}
footer .copyright span {
  display: block;
}
footer .copyright a {
  color: #F2361C;
  text-decoration: none;
}

/* ======== FIN FOOTER ========= */
/* ======== MEDIA QUERIES ========= */
@media (min-width: 576px) {
  .info-contacto-footer span {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) {
  /* ANIMACION EN TABLET */
  @keyframes animacionPelota {
    0% {
      left: -100;
    }
    100% {
      left: 100%;
      transform: rotate(3500deg);
    }
  }
  html {
    font-size: 17px;
  }

  /* FIN ANIMACION EN TABLET */
  #info {
    position: relative;
  }
  #info .container {
    display: flex;
    justify-content: space-between;
  }
  #info .container > a {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: none;
    height: 100%;
    transition: transform 0.25s ease-in-out;
  }
  #info .container > a:nth-child(1) {
    border: none;
    border-top: 15px solid #FF3000;
  }
  #info .container > a:nth-child(2) {
    border: none;
    border-top: 15px solid #FFEA00;
  }
  #info .container > a:nth-child(3) {
    border: none;
    border-top: 15px solid #7DFF00;
  }
  #info .container > a:hover {
    transform: scale(1.25);
    transition: transform 0.25s ease-in-out;
  }
  #info .container img {
    height: 200px;
    margin: 30px 15px;
  }
  #info .container h2 {
    display: flex;
    font-weight: bold;
    color: #3A3A3A;
    width: 100%;
    background: #F7F4E6;
    text-align: left;
    border-radius: 0 0 0.3em 0.3em;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 8px;
  }
  #info > img {
    display: none;
    height: 85%;
    position: absolute;
    align-items: center;
    right: -3%;
    top: 2.75em;
    z-index: 8;
  }

  #imagenes {
    height: 100vh;
  }
  #imagenes .carousel__track {
    flex-grow: 1;
    margin: 0 15px;
  }
  #imagenes .carousel__slide {
    justify-content: space-between;
    align-items: center;
  }
  #imagenes .carousel__slide img {
    width: 48%;
    max-width: 1000px;
    padding: 0.8em;
    background: #F7F4E6;
    object-fit: cover;
  }
  #imagenes .carousel__slide img:first-child {
    margin-bottom: 0;
  }

  #contacto h1 {
    font-size: 1.8rem;
  }
  #contacto form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #contacto form input {
    flex-basis: 32%;
  }
  #contacto form input,
#contacto form textarea {
    margin: 10px 0;
    padding: 20px;
    border-radius: 1em;
  }
  #contacto form input[type=submit] {
    flex-basis: 100%;
  }

  footer .info-contacto-footer {
    font-size: 1.5em;
  }

  header .contenedor-logo {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  /* ANIMACION EN LAPTOP */
  @keyframes animacionPelota {
    0% {
      left: -100;
    }
    100% {
      left: 100%;
      transform: rotate(4700deg);
    }
  }
  html {
    font-size: 18px;
  }

  /* FIN ANIMACION EN LAPTOP */
  header {
    padding: 15px 0 30px 0;
  }
  header .container .menu-icon,
header .container .texto-logo {
    display: none;
  }
  header .container .contenedor-logo {
    font-size: 22px;
  }
  header .container > img {
    display: inline-block;
    align-self: flex-end;
    transform: translateY(-12%);
  }

  nav {
    display: inline-block;
  }

  #banner {
    background: url("../img/banner.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
  }
  #banner h1 {
    font-size: 3em;
  }
  #banner .container {
    max-width: 1024px;
  }
  #banner .caja-banner {
    width: 60%;
  }
  #banner img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    z-index: 8;
  }
  #banner > div:first-child {
    display: block;
    background: white;
    position: absolute;
    left: 12%;
    top: 0;
    bottom: 0;
    height: 150%;
    width: 50%;
    border-radius: 0 50% 50% 0;
    z-index: 9;
    overflow: hidden;
  }
  #banner p {
    margin: 2.5rem 1.8rem 2.5rem 0;
  }
  #banner .boton {
    margin: 0 1.8rem 0 0;
  }

  #info {
    position: relative;
  }
  #info .container {
    display: flex;
    justify-content: space-between;
  }
  #info .container > a {
    width: 28%;
    display: flex;
    flex-direction: column;
    border: none;
    height: 100%;
    transition: transform 0.25s ease-in-out;
  }
  #info .container > a:nth-child(1) {
    border: none;
    border-top: 15px solid #FF3000;
  }
  #info .container > a:nth-child(2) {
    border: none;
    border-top: 15px solid #FFEA00;
  }
  #info .container > a:nth-child(3) {
    border: none;
    border-top: 15px solid #7DFF00;
  }
  #info .container > a:hover {
    transform: scale(1.25);
    transition: transform 0.25s ease-in-out;
  }
  #info .container img {
    height: 250px;
    margin: 30px 15px;
  }
  #info .container h2 {
    display: flex;
    font-weight: bold;
    color: #3A3A3A;
    width: 100%;
    background: #F7F4E6;
    text-align: left;
    border-radius: 0 0 0.3em 0.3em;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px 8px;
  }
  #info > img {
    display: flex;
    height: 85%;
    position: absolute;
    align-items: center;
    right: -3%;
    top: 2.75em;
    z-index: 8;
  }
}

/*# sourceMappingURL=style.css.map */
