    /* @TODO (cosas que faltan hacer)
- agregar transicion al hacer hover de los elementos del nav
- terminar nav version movil y tablet
- ajustar todo a REM y EM 
- comprimir imagenes que faltan
- poner logo en esquina de imagenes
- cambiar link footer (ghipsio) a pagina de facebook a crear
- controlar que anden todos los links
- terminar bien slideshow imagenes
- scroll al hacer click elementos nav
- optimizar scss sacando ids y menos nesting (usar BEM)
- animacion intro
*/
    
    @import'partials/reset';
    @import'partials/variables';
    @import'partials/hamb-icon';
    /* ======== ESTILOS GENERALES ========= */
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
    
    .anchor {
        display: inline-block;
        position: absolute;
        height: 111px;
        width: 100%;
        left: 0;
        right: 0;
        top: -111px;
    }
    
    #info,
    #contacto,
    #imagenes {
        position: relative;
    }
    /* ======== FIN STILOS GENERALES ========= */
    /* ======== HEADER ========= */
    
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        padding: 10px 15px;
        background: $color-blanco-suave;
        // Sombra header
        -webkit-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
        -moz-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
        box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
        // Fin sombra header
        .fondo-header {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 50%;
            width: 100%;
            z-index: 9;
        }
        .pelota-header {
            height: 100%;
            position: absolute;
            bottom: 0;
            z-index: 8;
            left: -100%;
            animation: animacionPelota infinite;
            animation-duration: 12s;
            animation-timing-function: linear;
            animation-fill-mode: backwards;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            >img {
                display: none;
            }
        }
        /* ====== LOGO ======= */
        .contenedor-logo {
            font-size: 15px; // De aca se cambia el tamaño del logo (porque esta todo en em)
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 10;
        }
        .logo {
            height: 3em;
            position: relative;
            img {
                height: 100%;
                padding: 0;
                margin: 0;
            }
            img:nth-child(1) {
                //pelota logo
                position: absolute;
                z-index: 0;
            }
            img:nth-child(2) {
                //letras logo
                position: absolute;
                z-index: 10;
                left: 1.8em;
            }
        }
        .texto-logo img {
            height: 0.5em;
        }
        /* ====== FIN LOGO ======= */
        /* ====== BOTON MENU ======= */
        .menu-icon {
            font-size: 0.8rem;
            font-weight: bold;
            border: 0.05em solid rgba(100, 100, 100, 0.3);
            color: $color-icono-menu;
            display: flex;
            background: $gradiente-general;
            padding: 1em;
            opacity: 0.9;
            border-radius: 0.3em;
            z-index: 11;
            cursor: pointer;
            span {
                margin-right: 0.3em;
                cursor: pointer;
            }
        }
        /* ====== FIN BOTON MENU ======= */
    }
    /* ======= Fin HEADER======= */
    /* ======= NAV ======= */
    
    nav {
        z-index: 20;
        display: none;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        width: 100%;
        ul {
            margin: 0 auto;
            max-width: 800px;
            @include boton-titulo;
            // sobreescribimos el padding del mixin de arriba:
            padding: 0;
            display: flex;
            justify-content: center;
            width: 100%;
            &:hover {
                background: $gradiente-general-opaco;
                transition: all 1s ease-in-out;
            }
            li {
                font-size: 1rem;
                display: flex;
                text-align: center;
                width: 191px;
                display: flex;
                a {
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 100%;
                    padding: 15px 0;
                }
                &:hover {
                    margin-bottom: -5px;
                    border-bottom: 5px solid $color-servicio-1;
                    transition: border-bottom 0.1s ease-in-out;
                }
                .nav-element::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    background: gray;
                    height: 15px;
                    width: 1px;
                }
            }
        }
        a {
            color: black;
            font-weight: 700;
            text-decoration: none;
        }
    }
    /* ======= Fin NAV======= */
    /* ======== BANNER ========= */
    
    #banner {
        margin-top: 80px;
        padding: $padding-movil;
        background: linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.85)), /* bottom, image */
        url('../img/kempes.jpg');
        background-size: cover;
        background-position: center;
        >div {
            max-width: 390px;
        }
        .titulo {
            margin-bottom: 2.5em;
        }
        .titulo img {
            width: 85%;
            display: inline-block;
        }
        h1:first-child {
            font-family: kempes, sans-serif;
            font-weight: bold;
            font-size: 3.5rem;
            color: black;
            position: relative;
            letter-spacing: 4.5px;
        }
        h1:last-child {
            font-weight: bold;
            color: $rojo-general;
            font-size: 1.8rem;
            display: block;
            text-align: right;
            position: relative;
            top: -0.5em;
        }
        p {
            margin: 2.5em 1.8rem;
            font-size: 0.80em;
            line-height: 1.7;
            strong {
                font-weight: bold;
            }
        }
        .boton {
            @include boton-titulo;
            margin: 0 1.8rem;
            &:hover {
                background: rgba(244, 230, 168, 1);
            }
        }
    }
    /* ======== FIN BANNER ========= */
    /* ======== SECCION INFO ========= */
    
    .info {
        background-color: $fondo-section;
        padding: $padding-movil;
        position: relative;
        overflow: hidden;
        .container {
            >a {
                background: #fff;
                height: 70px;
                margin: 20px 0;
                border-radius: 0.3em;
                display: flex;
                text-decoration: none;
                color: $fondo-section;
                z-index: 9;
            }
            >a:nth-child(1) {
                border-left: 10px solid $color-servicio-1;
            }
            >a:nth-child(2) {
                border-left: 10px solid $color-servicio-2;
            }
            >a:nth-child(3) {
                border-left: 10px solid $color-servicio-3;
            }
            img {
                height: 92%;
                margin: 3px 5px;
            }
            h2 {
                display: flex;
                font-weight: bold;
                color: $fondo-section;
                width: 74%;
                background: $color-blanco-suave;
                text-align: right;
                border-radius: 0 0.3em 0.3em 0;
                font-size: 1.35em;
                align-items: flex-end;
                justify-content: flex-end;
                padding: 0 15px 10px 0;
            }
            a>div {
                background: white;
                height: 100%;
                width: 25%;
                text-align: center;
            }
        }
        >img {
            display: none;
        }
    }
    /* ======== FIN SECCION INFO ========= */
    /* ======== SECCION IMAGENES ========= */
    
    #imagenes {
        padding: $padding-movil;
        background: linear-gradient( rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38)), /* bottom, image */
        url('../img/cancha.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        h1 {
            @include boton-titulo;
            font-size: 22px;
            padding: 0.7em 1.5em;
            cursor: default;
            span {
                text-align: right;
                font-size: 0.7em;
                font-weight: 400;
                display: block;
            }
        }
    }
    
    .carousel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2.5em 0;
        button {
            @include boton-titulo;
            padding: 1em 0.7em;
            cursor: pointer;
        }
        &__track-container {
            flex-grow: 1;
            margin: 0 1em;
        }
        &__track {
            position: relative; // para que las imagenes se puedan posicionar en absolute
        }
        .show-slide {
            display: block;
        }
        .is-hidden {
            visibility: hidden;
        }
        &__slide {
            text-align: center;
            position: relative;
            display: none;
            img {
                width: 100%;
                max-width: 400px;
                padding: 0.8em;
                background: $color-blanco-suave;
            }
            img:first-child {
                // margen a la foto de arriba solamente
                margin-bottom: 0.5em;
            }
        }
    }
    /* ======== FIN SECCION IMAGENES ========= */
    /* ======== SECCION CONTACTO ========= */
    
    #contacto {
        padding: $padding-movil;
        background: $fondo-footer;
        h1 {
            font-size: 22px;
            letter-spacing: 0.2em;
            color: $color-input-footer;
            display: block;
            text-align: center;
        }
        form {
            margin: 1.9em 2em 0 2em;
            font-size: 22px;
            input,
            textarea {
                font-family: 'Montserrat', sans-serif;
                box-sizing: border-box;
                display: block;
                width: 100%;
                background: $color-input-footer;
                color: $color-texto-footer;
                border: none;
                border-radius: 0.3em;
                font-size: 0.60em;
                padding: 0.8em;
                margin: 1.5em 0;
            }
            input::placeholder,
            textarea::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $color-texto-footer;
            }
            textarea:-ms-input-placeholder,
            input:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $color-texto-footer;
            }
            textarea::-ms-input-placeholder,
            input::-ms-input-placeholder {
                /* Microsoft Edge */
                color: $color-texto-footer;
            }
            input[type=submit] {
                background: $rojo-general;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    /* ======== FIN SECCION CONTACTO ========= */
    /* ======== INICIO FOOTER ========= */
    
    footer {
        background: $fondo-footer;
        color: #fff;
        text-align: left;
        text-align: center;
        .info-contacto-footer {
            font-size: 1em;
            display: flex;
            justify-content: center;
            flex-wrap: no-wrap;
            padding: 1em 15px;
            a {
                font-size: 0.85em;
                font-weight: 500;
                margin: 0.3em 0;
                display: flex;
                align-items: center;
                &:first-child {
                    margin-right: 1em;
                }
            }
            i {
                font-size: 1.9em;
            }
            span {
                margin-left: 0.7em;
                font-size: 0.7em;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        .copyright {
            display: block;
            font-size: 0.8em;
            border-top: 1.5px solid $color-input-footer;
            padding: 1.5em;
            margin: 0 1em;
            line-height: 1.5em;
            span {
                display: block;
            }
            a {
                color: $rojo-general;
                text-decoration: none;
            }
        }
    }
    /* ======== FIN FOOTER ========= */
    /* ======== MEDIA QUERIES ========= */
    
    @include mq('sm') {
        .info-contacto-footer {
            span {
                font-size: 1.3em;
            }
        }
    }
    
    @include mq('lg') {
        /* ANIMACION EN TABLET */
        @keyframes animacionPelota {
            0% {
                left: -100;
            }
            100% {
                left: 100%;
                transform: rotate(3500deg);
            }
        }
        #banner {
            >div {
                max-width: 90%;
            }
            .titulo {
                max-width: 512px;
            }
        }
        /* FIN ANIMACION EN TABLET */
        .info {
            position: relative;
            .container {
                display: flex;
                justify-content: space-between;
                >a {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    border: none;
                    height: 100%;
                    transition: transform .25s ease-in-out;
                }
                >a:nth-child(1) {
                    border: none;
                    border-top: 15px solid $color-servicio-1;
                }
                >a:nth-child(2) {
                    border: none;
                    border-top: 15px solid $color-servicio-2;
                }
                >a:nth-child(3) {
                    border: none;
                    border-top: 15px solid $color-servicio-3;
                }
                >a:hover {
                    transform: scale(1.25);
                    transition: transform .25s ease-in-out;
                }
                img {
                    height: 200px;
                    margin: 30px 15px;
                }
                h2 {
                    display: flex;
                    font-weight: bold;
                    color: $fondo-section;
                    width: 100%;
                    background: $color-blanco-suave;
                    text-align: left;
                    border-radius: 0 0 0.3em 0.3em;
                    font-size: 1.65em;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 15px 8px;
                }
            }
            >img {
                display: none;
                height: 85%;
                position: absolute;
                align-items: center;
                right: -3%;
                top: 2.75em;
                z-index: 8;
            }
        }
        .carousel {
            margin: 100px 0;
            &__track {
                flex-grow: 1;
                margin: 0 15px;
            }
            &__slide {
                //display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__slide img {
                width: 48%;
                max-width: 1000px;
                padding: 0.8em;
                background: $color-blanco-suave;
                object-fit: cover;
                &:first-child {
                    transform: rotate(3deg)
                }
                &:last-child {
                    transform: rotate(-1deg)
                }
            }
            &__slide img:first-child {
                margin-bottom: 0;
            }
        }
        #imagenes h1 {
            font-size: 1.65rem;
        }
        #contacto {
            form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                input {
                    flex-basis: 32%;
                }
                input,
                textarea {
                    margin: 10px 0;
                    padding: 20px;
                    border-radius: 1em;
                }
                input[type="submit"] {
                    flex-basis: 100%;
                }
            }
        }
        footer {
            .info-contacto-footer {
                font-size: 1.5em;
            }
        }
        header {
            .contenedor-logo {
                font-size: 19px;
            }
        }
    }
    
    @include mq('xl') {
        /* ANIMACION EN LAPTOP */
        @keyframes animacionPelota {
            0% {
                left: -100;
            }
            100% {
                left: 100%;
                transform: rotate(4700deg);
            }
        }
        /* FIN ANIMACION EN LAPTOP */
        header {
            padding: 15px 0 30px 0;
            .container {
                .menu-icon,
                .texto-logo {
                    display: none;
                }
                .contenedor-logo {
                    font-size: 22px; // cambiamos el tamaño del logo para pantallas mas grandes
                }
                >img {
                    display: inline-block;
                    align-self: flex-end;
                    transform: translateY(-12%);
                }
            }
        }
        nav {
            display: inline-block;
        }
        #imagenes h1 {
            font-size: 1.8rem;
        }
        #banner {
            background: url('../img/banner.jpg');
            background-size: cover;
            height: 65vh;
            margin-top: 111px;
            display: flex;
            align-items: center;
            .container {
                max-width: 1024px;
            }
            .caja-banner {
                width: 50%;
            }
            p {
                font-size: 0.9em;
            }
            .titulo {
                max-width: 100%;
            }
        }
        .info {
            position: relative;
            .container {
                display: flex;
                justify-content: space-between;
                >a {
                    width: 30%;
                }
                img {
                    height: 300px;
                    margin: 30px 15px;
                }
                h2 {
                    font-size: 1.85em;
                }
            }
            >img {
                display: flex;
            }
        }
        #contacto {
            h1 {
                font-size: 1.8rem;
            }
        }
    }