    @import'partials/reset';
    @import'partials/variables';
    @import'partials/hamb-icon';
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    * {
        box-sizing: border-box;
    }
    /* ======== HEADER ========= */
    
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        background: $color-blanco-suave url('../img/pastofinal.png');
        background-size: 100% 50%;
        background-repeat: no-repeat;
        background-position: bottom;
        // Sombra header
        -webkit-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
        -moz-box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
        box-shadow: 0px -4px 17px 9px rgba(31, 31, 31, 0.76);
        // Fin sombra header
        /* ====== LOGO ======= */
        .contenedor-logo {
            font-size: 15px; // De aca se cambia el tamaño del logo (porque esta todo en em)
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .logo {
            height: 3em;
            position: relative;
            img {
                height: 100%;
                padding: 0;
                margin: 0;
            }
            img:nth-child(1) {
                //pelota logo
                position: absolute;
                z-index: 0;
            }
            img:nth-child(2) {
                //letras logo
                position: absolute;
                z-index: 10;
                left: 1.8em;
            }
        }
        .texto-logo img {
            height: 0.5em;
        }
        /* ====== FIN LOGO ======= */
        /* ====== BOTON MENU ======= */
        .menu-icon {
            font-size: 0.8rem;
            font-weight: bold;
            border: 0.05em solid rgba(100, 100, 100, 0.3);
            color: $color-icono-menu;
            display: flex;
            background: $gradiente-general;
            padding: 1em;
            opacity: 0.9;
            border-radius: 0.3em;
            cursor: pointer;
            span {
                margin-right: 0.3em;
                cursor: pointer;
            }
        }
        /* ====== FIN BOTON MENU ======= */
    }
    /* ======= Fin HEADER======= */
    /* ======== BANNER ========= */
    
    #banner {
        margin-top: 80px;
        padding: $padding-movil;
        background: linear-gradient( rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.85)), /* bottom, image */
        url('../img/kempes.jpg');
        background-size: cover;
        background-position: center;
        >div {
            max-width: 390px;
        }
        .titulo {
            margin-bottom: 2.5em;
        }
        .titulo img {
            width: 85%;
            display: inline-block;
        }
        h1 {
            font-weight: bold;
            color: $rojo-general;
            font-size: 1.6em;
            width: 5%;
            display: inline-block;
            position: relative;
            right: 9%;
            top: 0.65em;
        }
        p {
            margin: 2.5em 1.8rem;
            font-size: 0.80em;
            line-height: 1.5em;
            strong {
                font-weight: bold;
            }
        }
        .boton {
            @include boton-titulo;
            margin: 0 1.8rem;
            &:hover {
                background: rgba(244, 230, 168, 1);
            }
        }
    }
    /* ======== FIN BANNER ========= */
    /* ======== SECCION INFO ========= */
    
    #info {
        background-color: $fondo-section;
        padding: $padding-movil;
        >a {
            background: #fff;
            height: 70px;
            margin: 20px 0;
            border-radius: 0.3em;
            display: flex;
            text-decoration: none;
            color: $fondo-section;
        }
        >a:nth-child(1) {
            border-left: 10px solid $color-servicio-1;
        }
        >a:nth-child(2) {
            border-left: 10px solid $color-servicio-2;
        }
        >a:nth-child(3) {
            border-left: 10px solid $color-servicio-3;
        }
        img {
            height: 92%;
            margin: 3px 5px;
        }
        h2 {
            display: flex;
            font-weight: bold;
            color: $fondo-section;
            width: 74%;
            background: $color-blanco-suave;
            text-align: right;
            border-radius: 0 0.3em 0.3em 0;
            font-size: 1.35em;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 0 15px 10px 0;
        }
        a>div {
            background: white;
            height: 100%;
            width: 25%;
            text-align: center;
        }
    }
    /* ======== FIN SECCION INFO ========= */
    /* ======== SECCION IMAGENES ========= */
    
    #imagenes {
        padding: $padding-movil;
        background: linear-gradient( rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38)), /* bottom, image */
        url('../img/cancha.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        h1 {
            @include boton-titulo;
            font-size: 22px;
            padding: 0.7em 1.5em;
            span {
                text-align: right;
                font-size: 0.7em;
                font-weight: 400;
                display: block;
            }
        }
        >div:first-of-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2.5em 0;
            i {
                @include boton-titulo;
                padding: 1em 0.7em;
                cursor: pointer;
            }
        }
        >div>div {
            flex-grow: 1;
            margin: 0 1em;
            div img {
                width: 100%;
                padding: 0.8em;
                background: $color-blanco-suave;
            }
            div img:first-child {
                // margen a la foto de arriba solamente
                margin-bottom: 0.5em;
            }
        }
    }
    /* ======== FIN SECCION IMAGENES ========= */
    /* ======== FOOTER ========= */
    
    footer {
        padding: $padding-movil;
        background: $fondo-footer;
        h1 {
            font-size: 22px;
            letter-spacing: 0.2em;
            color: $color-input-footer;
            display: block;
            text-align: center;
        }
        form {
            margin: 1.9em 2em;
            font-size: 22px;
            input,
            textarea {
                font-family: 'Montserrat', sans-serif;
                box-sizing: border-box;
                display: block;
                width: 100%;
                background: $color-input-footer;
                color: $color-texto-footer;
                border: none;
                border-radius: 0.3em;
                font-size: 0.60em;
                padding: 0.8em;
                margin: 1.5em 0;
            }
            input[type=submit] {
                background: $rojo-general;
                color: #fff;
            }
        }
    }
    /* ======== FIN FOOTER ========= */