@include mq('xl') {
    /* ANIMACION EN LAPTOP */
    @keyframes animacionPelota {
        0% {
            left: -100;
        }
        100% {
            left: 100%;
            transform: rotate(4700deg);
        }
    }
    /* FIN ANIMACION EN LAPTOP */
    header {
        padding: 15px 0 30px 0;
        .container {
            .menu-icon,
            .texto-logo {
                display: none;
            }
            .contenedor-logo {
                font-size: 28px; // cambiamos el tamaño del logo para pantallas mas grandes
            }
            >img {
                height: 2.8em;
                display: inline-block;
                align-self: center;
                //transform: translateY(-12%);
            }
        }
    }
    .imagenes {
        h1 {
            font-size: 1.8rem;
        }
        img:hover {
            transform: scale(1.8);
            position: relative;
            transition: all 0.35s ease-in-out;
            z-index: 8;
        }
    }
    #banner {
        background: white;
        background-size: cover;
        display: flex;
        align-items: center;
        height: 100vh;
        margin-top: 0;
        .container {
            max-width: 1124px;
            z-index: 7;
        }
        video {
            display: inline-block;
            width: 80%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 1.8rem;
        }
        .caja-banner {
            width: 60%;
            z-index: 7;
            margin-top: 180px;
        }
        p {
            font-size: 0.9em;
        }
        .titulo {
            max-width: 90%;
        }
        h1 {
            font-size: 4rem;
            line-height: 0.8;
        }
        h2 {
            font-size: 2rem;
        }
        >img {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 50%;
            object-fit: cover;
            z-index: 5;
        }
        >div:first-child {
            display: block;
            background: white;
            position: absolute;
            left: 10%;
            top: 0;
            bottom: 0;
            height: 150%;
            width: 50%;
            border-radius: 0 50% 50% 0;
            z-index: 6;
            overflow: hidden;
        }
    }
    .info {
        position: relative;
        z-index: 7;
        .container {
            display: flex;
            justify-content: space-between;
            >a {
                width: 30%;
            }
            img {
                height: 300px;
                margin: 30px 15px;
            }
            h2 {
                font-size: 1.85em;
            }
        }
        >img {
            display: flex;
        }
    }
    .contacto {
        h1 {
            font-size: 1.8rem;
        }
    }
    .show-main-nav {
        display: inline-block;
    }
    nav {
        z-index: 20;
        display: inline-block;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        width: 100%;
        ul {
            margin: 0 auto;
            max-width: 800px;
            @include boton-titulo;
            // sobreescribimos el padding del mixin de arriba:
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            &:hover {
                background: $gradiente-general-opaco;
                transition: all 1s ease-in-out;
            }
            li {
                padding: 0;
                margin: 0;
                font-size: 1rem;
                display: flex;
                text-align: center;
                width: 191px;
                display: flex;
                border: none;
                a {
                    position: relative;
                    box-sizing: border-box;
                    display: inline-block;
                    width: 100%;
                    padding: 15px 0;
                }
                &:hover {
                    margin-bottom: -5px;
                    border-bottom: 5px solid $color-servicio-1;
                    transition: border-bottom 0.1s ease-in-out;
                    background: none;
                }
                .nav-element::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    background: gray;
                    height: 15px;
                    width: 1px;
                }
            }
        }
        a {
            color: black;
            font-weight: 700;
            text-decoration: none;
        }
    }
}