// TODAS LAS VARIABLES
$color-icono-menu: #222;
$color-blanco-suave:#F7F4E6;
$gradiente-general: linear-gradient(to bottom, #ffffff 0%, #f4e6a8 100%);

/*
-moz-linear-gradient(top, #ffffff 0%, #f4e6a8 100%),
-webkit-linear-gradient(top, #ffffff 0%, #f4e6a8 100%),
*/


/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */