// TODAS LAS VARIABLES
$color-icono-menu: #222;
$color-blanco-suave:#F7F4E6;
$gradiente-general: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(244, 230, 168, 0.7) 100%);
$rojo-general:#F2361C;

/*
-moz-linear-gradient(top, #ffffff 0%, #f4e6a8 100%),
-webkit-linear-gradient(top, #ffffff 0%, #f4e6a8 100%);
*/